@media only screen and (max-width: 480px) {

  header {
    position: fixed;
  }

  .awesome-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;

    display: block;
    height: 68px;

    background: rgba(255, 255, 255, 0.95);
  }

  .awesome-menu__logo {
    float: left;
    height: 68px;
    margin: 1% 10px;
  }

  .is-closed .awesome-menu__logo {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-in-out .3s;
       -moz-transform: translate3d(0, 0, 0);
       -moz-transition: -moz-transform ease-in-out .3s;
        -ms-transform: translate3d(0, 0, 0);
        -ms-transition: -ms-transform ease-in-out .3s;
            transform: translate3d(0, 0, 0);
            transition: transform ease-in-out .3s;
  }

  .awesome-menu__toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    padding-right: 20px;
    border: 0;

    background: none;
    outline: 0;
  }

  .awesome-menu__toggle .toggle__bar {
    display: block;
    height: 4px;
    width: 26px;
    margin: 0 auto 4px 0;

    background: #333;
  }

  .awesome-menu__menu {
    position: fixed;
    top: 0;
    right: -215px;
    bottom: 0;
    z-index: 20;

    display: block;
    width: 215px;
    margin: 0;
    padding: 0;

    background: #fff;
    list-style: none;
    color: #FFF;

    overflow-y: scroll;
    overflow-x: none;
    -webkit-overflow-scrolling: touch;
  }

  .is-open .awesome-menu__menu {
    -webkit-transform: translate3d(-215px, 0, 0);
    -webkit-transition: -webkit-transform ease-in-out .3s;
       -moz-transform: translate3d(-215px, 0, 0);
       -moz-transition: -moz-transform ease-in-out .3s;
        -ms-transform: translate(-215px, 0);
        -ms-transition: -ms-transform ease-in-out .3s;
            transform: translate3d(-215px, 0, 0);
            transition: transform ease-in-out .3s;
  }

  .is-closed .awesome-menu__menu {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-in-out .3s;
       -moz-transform: translate3d(0, 0, 0);
       -moz-transition: -moz-transform ease-in-out .3s;
        -ms-transform: translate(0, 0);
        -ms-transition: -ms-transform ease-in-out .3s;
            transform: translate3d(0, 0, 0);
            transition: transform ease-in-out .3s;
  }

  .is-open .awesome-menu__toggle {
    -webkit-transform: translate3d(-215px, 0, 0);
    -webkit-transition: -webkit-transform ease-in-out .3s;
       -moz-transform: translate3d(-215px, 0, 0);
       -moz-transition: -moz-transform ease-in-out .3s;
        -ms-transform: translate(-215px, 0);
        -ms-transition: -ms-transform ease-in-out .3s;
            transform: translate3d(-215px, 0, 0);
            transition: transform ease-in-out .3s;
  }

  .is-closed .awesome-menu__toggle {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-in-out .3s;
       -moz-transform: translate3d(0, 0, 0);
       -moz-transition: -moz-transform ease-in-out .3s;
        -ms-transform: translate(0, 0);
        -ms-transition: -ms-transform ease-in-out .3s;
            transform: translate3d(0, 0, 0);
            transition: transform ease-in-out .3s;
  }

  .awesome-menu__menu__item {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    font-size: 20px;
    line-height: 24px;

    -webkit-transition: background linear 50ms;
       -moz-transition: background linear 50ms;
        -ms-transition: background linear 50ms;
         -o-transition: background linear 50ms;
            transition: background linear 50ms;
  }

  .awesome-menu__menu__item a {
    display: block;
    padding: 22px 20px;

    color: #000;
    text-decoration: none;
  }

  .link__label { margin: 0; }
  .link__desc { font-size: 13px; }

}
